# **âš½UEFA Champions League(UCL) Winner Prediction System**

<div style="text-align:center;">
    <img src="winners-prev.png" alt="Past Winners" width="1050"/>
</div>

In [24]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

print("Libraries imported successfully!")

Libraries imported successfully!

# Load the Dataset

In [27]:

df = pd.read_csv('/Users/nazmul/Desktop/Project/ucl/data/ucl_stats.csv')
print(f"Dataset loaded: {df.shape}")
print(f"\nFirst few rows:")
df.head()

Dataset loaded: (714, 11)

First few rows:

,year,team,match_played,wins,draws,losts,goals_scored,goals_conceded,gd,group_point,champions
0,1993,Marseille,6,3,3,0,14,4,10,9,1
1,1993,Milan,7,6,0,1,11,2,9,12,0
2,1993,Rangers,6,2,4,0,7,5,2,8,0
3,1993,Club Brugge,6,2,1,3,5,8,-3,5,0
4,1993,CSKA Moscow,6,0,2,4,2,11,-9,2,0

In [28]:
# Data Information
print("=" * 70)
print("DATASET INFORMATION")
print("=" * 70)
print(f"\nShape: {df.shape}")
print(f"Columns: {list(df.columns)}")
print(f"\nData Types:")
print(df.dtypes)
print(f"\nMissing Values:")
print(df.isnull().sum())

======================================================================
DATASET INFORMATION
======================================================================

Shape: (714, 11)
Columns: ['year', 'team', 'match_played', 'wins', 'draws', 'losts', 'goals_scored', 'goals_conceded', 'gd', 'group_point', 'champions']

Data Types:
year               int64
team              object
match_played       int64
wins               int64
draws              int64
losts              int64
goals_scored       int64
goals_conceded     int64
gd                 int64
group_point        int64
champions          int64
dtype: object

Missing Values:
year              0
team              0
match_played      0
wins              0
draws             0
losts             0
goals_scored      0
goals_conceded    0
gd                0
group_point       0
champions         0
dtype: int64

In [29]:
#Check for Duplicates
print("=" * 70)
print("DATA QUALITY CHECK")
print("=" * 70)
duplicates = df.duplicated().sum()
print(f"Duplicate rows: {duplicates}")

======================================================================
DATA QUALITY CHECK
======================================================================
Duplicate rows: 0

In [30]:

# Check for logical inconsistencies
print("\nChecking logical inconsistencies...")
consistency_check = df['wins'] + df['draws'] + df['losts'] == df['match_played']
inconsistent_matches = (~consistency_check).sum()
print(f"Rows with match inconsistency: {inconsistent_matches}")

gd_check = df['goals_scored'] - df['goals_conceded'] == df['gd']
inconsistent_gd = (~gd_check).sum()
print(f"Rows with goal difference inconsistency: {inconsistent_gd}")

Checking logical inconsistencies...
Rows with match inconsistency: 8
Rows with goal difference inconsistency: 22

In [32]:
#Remove Inconsistencies
initial_rows = len(df)

# Remove records with logical inconsistencies
df_clean = df[consistency_check & gd_check].copy()

final_rows = len(df_clean)
print(f"\n Cleaning Complete:")
print(f"Initial rows: {initial_rows}")
print(f"Final rows: {final_rows}")
print(f"Rows removed: {initial_rows - final_rows}")
print(f"Retention rate: {(final_rows/initial_rows)*100:.2f}%")

 Cleaning Complete:
Initial rows: 714
Final rows: 685
Rows removed: 29
Retention rate: 95.94%

# Save Cleaned Dataset

In [34]:

df_clean.to_csv('/Users/nazmul/Desktop/Project/ucl/data/ucl_stats_cleaned.csv', index=False)
print(" Cleaned dataset saved as 'ucl_stats_cleaned.csv'")

 Cleaned dataset saved as 'ucl_stats_cleaned.csv'

# Display summary

In [35]:


print("\n" + "=" * 70)
print("CLEANED DATASET SUMMARY")
print("=" * 70)
df_clean.describe()

======================================================================
CLEANED DATASET SUMMARY
======================================================================

,year,match_played,wins,draws,losts,goals_scored,goals_conceded,gd,group_point,champions
count,685.000000,685.000000,685.000000,685.000000,685.000000,685.000000,685.000000,685.000000,685.000000,685.000000
mean,2008.651095,7.597080,2.861314,1.826277,2.909489,10.315328,10.420438,-0.105109,8.070073,0.039416
std,7.385739,2.064315,2.276830,1.254423,1.235671,6.761809,3.618284,7.438484,4.131719,0.194725
min,1993.000000,6.000000,0.000000,0.000000,0.000000,0.000000,2.000000,-22.000000,0.000000,0.000000
25%,2004.000000,6.000000,1.000000,1.000000,2.000000,5.000000,8.000000,-5.000000,5.000000,0.000000
50%,2009.000000,6.000000,2.000000,2.000000,3.000000,9.000000,10.000000,-1.000000,8.000000,0.000000
75%,2015.000000,8.000000,4.000000,3.000000,4.000000,14.000000,13.000000,4.000000,11.000000,0.000000
max,2020.000000,13.000000,11.000000,7.000000,6.000000,43.000000,24.000000,35.000000,18.000000,1.000000